.job-card {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    padding: 1.25rem;
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-border);

    img {
        margin-right: auto;
        height: 1.875rem;
        max-width: 3.75rem;
        object-fit: contain;
    }

    .job-card-title {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .job-card-badges {
        display: flex;
        gap: var(--space-1);
    }

    .job-card-description p {
        font-size: 0.875rem;
        margin: 0;
    }

    .job-card-footer {
        display: flex;
        margin-top: auto;
        gap: var(--space-2);
    }
}
