.pagination {
    margin-block: var(--space-4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);

    @media (width > 47.5rem) {
        margin-block: var(--space-6);
    }

    .pagination-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        padding: 0;
        background-color: var(--color-bg);
        border: 1px solid var(--color-border);
        color: var(--color-text);

        &:hover,
        &.active {
            background-color: var(--color-primary);
            color: var(--color-bg);
        }
    }
}
