.register-form-container,
.login-form-container {
    display: flex;
    flex-direction: column;
    color: var(--color-text);

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-block: 0 var(--space-4);
        text-align: center;
    }

    .register-form,
    .login-form {
        display: flex;
        flex-direction: column;
        gap: var(--space-6);
    }
}
