.top-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    padding: 3rem 2rem;
    background-color: var(--card-color);
    border: 2px solid var(--card-color-border);
    border-radius: var(--radius-lg);

    @media (width > 47.5rem) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 3rem;
    }

    @media (width > 64rem) {
        padding: 4rem;
    }

    @media (width > 90rem) {
        padding: 5rem 4rem;
    }

    .top-container-details {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);

        @media (width > 47.5rem) {
            flex-direction: row;
            align-items: center;
        }

        @media (width > 64rem) {
            gap: var(--space-6);
        }

        .top-container-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10rem;
            height: 10rem;
            background-color: var(--color-bg);
            padding: 2.5rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .top-container-details-content {
            h1 {
                font-size: 1.5rem;
                font-weight: 500;
                margin-top: 0;

                @media (width > 47.5rem) {
                    font-size: 2rem;
                }
            }
        }

        .top-container-info {
            display: flex;
            flex-wrap: wrap;
            gap: var(--space-6);

            @media (width > 64rem) {
                gap: var(--space-8);
            }

            & > div {
                display: flex;
                align-items: center;
                gap: var(--space-2);
            }
        }
    }

    .top-container-actions {
        .app-button {
            padding-inline: 1.875rem;

            @media (width > 64rem) {
                padding-inline: 2.5rem;
            }
        }
    }
}

.job-details-container {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    @media (width > 64rem) {
        display: grid;
        grid-template-columns: 2fr minmax(20rem, 28.125rem);
    }

    @media (width > 75rem) {
        gap: 3.75rem;
    }

    @media (width > 90rem) {
        gap: 5rem;
    }

    .job-details-title {
        margin-top: 0;
    }

    h2 {
        font-weight: 600;
        margin-block: 3rem 1.5rem;

        strong {
            font-weight: 600;
        }
    }

    ol,
    ul {
        padding-left: 1rem;
    }

    ol,
    ul,
    p {
        color: var(--color-text-muted);
        line-height: 1.8;
    }

    .job-details-sidebar {
        h2 {
            margin-top: 0;
            font-size: 1rem;

            @media (width > 64rem) {
                font-size: 1.25rem;
            }
        }

        .job-details-sidebar-list {
            display: flex;
            flex-direction: column;
            gap: var(--space-4);
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}
