.app-input {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);

    label {
        font-size: 0.875rem;
        color: var(--color-text-muted);
    }

    .app-input-container {
        position: relative;

        input {
            padding: 0.75rem 1rem;
            border: 1px solid var(--color-border);
            background-color: var(--color-bg);
            width: 100%;
            color: var(--color-text);

            &.is-icon {
                padding-left: 2.5rem;
            }
        }

        .app-input-icon {
            position: absolute;
            top: 50%;
            left: 0.75rem;
            transform: translateY(-50%);
            color: var(--color-text-muted);
        }
    }
}
